<div class="container-lpage">
  <%if(errorMessage){ %>
  <div class="alert alert-danger" role="alert">
    <ul>
      <% {errorMessage?.forEach((err) => { %>
      <li><%= err?.msg %></li>
      <% })} %>
    </ul>
  </div>
  <%}%>
  <div class="container main">
    <div class="left p-2">
      <h1 class="main-heading">A comprehensive platform for reliable</h1>
      <h2 class="text-white ml12">Job and internship opportunities</h2>
      <h5 class="text-white">Get Discovered. Get Hired.</h5>
      <div class="actions">
        <a href="/jobs" class="btn btn-lg lbtn"> I'm A Job Seeker </a>
        <button
          data-bs-toggle="modal"
          data-bs-target="#staticBackdrop"
          class="btn btn-lg lbtn mx-2"
          type="button"
          data-toggle="modal"
          data-target="#registerPage"
        >
          I'm A Recruiter
        </button>
      </div>
    </div>
    <div class="right">
      <img src="https://files.codingninjas.in/438375-17407.webp" alt="banner" />
    </div>
  </div>
</div>
