<div class="container p-3 mx-auto w-50 form-box my-5 rounded-md">
  <h2 style="color: #181642" class="text-center mb-3">Login</h2>
  <form action="/login" method="post">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >Email</span
        >
      </div>
      <input
        type="email"
        class="form-control"
        aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-sm"
        id="email"
        placeholder="xyz@google.com"
        name="email"
        required
      />
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >Password</span
        >
      </div>
      <input
        type="password"
        class="form-control"
        aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-sm"
        id="password"
        placeholder="enter your password"
        name="password"
        required
      />
    </div>
    <%if(errorMessage){ %>
    <div class="alert alert-danger" role="alert">
      <ul>
        <li><%= errorMessage %></li>
      </ul>
    </div>
    <%}%>
    <button type="submit" class="btn btn-primary lbtn">Login</button>
  </form>
</div>
