<div
  class="modal fade"
  id="registerPage"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Register</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Add your login form here -->
        <form action="/" method="post">
          <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm"
                >Name</span
              >
            </div>
            <input
              type="text"
              class="form-control"
              aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-sm"
              id="name"
              placeholder="enter your name"
              name="name"
              required
            />
          </div>
          <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm"
                >Email</span
              >
            </div>
            <input
              type="email"
              class="form-control"
              aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-sm"
              id="email"
              placeholder="xyz@google.com"
              name="email"
              required
            />
          </div>
          <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm"
                >Password</span
              >
            </div>
            <input
              type="password"
              class="form-control"
              aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-sm"
              id="password"
              placeholder="enter your password"
              name="password"
              required
            />
          </div>
          <button type="submit" class="btn btn-primary lbtn">Regsiter</button>
        </form>
      </div>
      <div class="modal-footer">
        <div class="card-body">Already Regsitered ?</div>
        <button
          type="button"
          class="btn btn-outline-success"
          data-dismiss="modal"
          data-target="#loginPage"
          data-bs-toggle="modal"
          data-bs-target="#staticBackdrop"
          data-toggle="modal"
        >
          Login
        </button>
      </div>
    </div>
  </div>
</div>
